* {
  margin: 0 auto;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}

button {
  text-decoration: none;
  cursor: pointer;
  border: none;
}

a{
  text-decoration: none;
  color: inherit;
}

/* Margins */

.marginTop1{
  margin-top: 1em;
}
.marginTop2{
  margin-top: 2em;
}

.marginBot1{
  margin-bottom: 1em;
}
.marginBot1_5{
  margin-bottom: 1.5em;
}

.marginBot2{
  margin-bottom: 2em;
}
.marginBot_5{
  margin-bottom: .5em;
}

/* Padding */
.padding_5 {
  padding: 0em .5em;
}


/* Colors */
.lightBlue{
  color: #748BFF;
}

.lightBlBg{
  background: #748BFF;
}

.whiteText{
  color: white;
}

.whiteBg{
  background-color: white;
}

.lbBorder{
 border: 1px solid #748BFF; 
}
/* Simple flexbox */

.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.flexCenterColumn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.centerText{
  text-align: center;
}

/* Button Width */
.btnWidth2{
  width: 7em;
  height: 5em;
}

/* Navigation */
.navElements {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-top: .5em;
  padding-bottom: .5em;
 
}

.logo{
    
    padding-right: 5em;
}

.navMenu{
  display: flex;
  justify-content: center;
  align-items: center;
    margin-top: 1em;
    margin-left: 5em;
}

/* introduction */
.introduction {
  max-width: 100%;
  height: 100vh;
}

.introContent {
    max-width: 85%;
    font-size: 5.5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selfAliLeft{
  text-align: left;
}

.actionBtn{

}

.landingBtn{
  margin: .5em ;
  padding: .5em 1em;
  border-radius: 5px;
  width: 10em;
}

.imageCrop {
  width: 10em;
  height: 10em;
  overflow: hidden;
  position: relative;
  /*
    overflow: hidden;
    border-radius:50%;
     
    */
}

.profilePic {
    margin: 0 auto;
    width: auto;
    height: 100%; 
}

/* About Me */
.aboutMe{
  width: 85%;
  margin-bottom: 3em;
}

.skillsAndSoft{
  margin-top: 1em;
}

/* Projects */
.projects{
  width: 85%;
}

.projItem1{
  
}

.projItem2{

}

.projItem3{

}

.projImgWrapper {
 width: 100%;
  height: 14em;
  overflow: hidden;
  position: relative;

  /*
    overflow: hidden;
    border-radius:50%;
     
    */
}

.borderProj{
  border: 1px silver solid;
}

.projImg{
 max-width: 100%;
 box-sizing: border-box;

 max-height: 100%;
}

.spokenImg{
  max-width: 100%;
  box-sizing: border-box;

}

/* Footer */
footer{
  width: 80%;
}